/* You can add global styles to this file, and also import other style files */
.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    grid-area: auto;
    max-width: 600px;
    width: 100%;
    overflow-wrap: break-word;
}

.card:hover {
    transform: translateY(-5px);
}

* {
    box-sizing: border-box;
}

main {
    display: grid;
    gap: 10px;
}

body {
  display: grid;
  gap: 15px;
  color: light-dark(black, white);
  background-color: light-dark(#eee, rgb(97, 88, 88));
}

.left-side,
.right-side {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: column;
}

.sortContainer,
.filterContainer {
    display: flex;
    gap: 15px;
}


.content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
}

select {
  appearance: base-select;
  border-radius: 2px;
}

select::picker-icon {
  color: #e69177;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

option {
  border: 2px solid #ddd;
  background: #eee;
  padding: 10px;
  transition: 0.4s;
}

option:nth-of-type(even) {
  background: light-dark(#e69177, #8b4d3a);
}

option:nth-of-type(odd) {
  background: light-dark(white, #5c5654);
}

button {
  border-radius: 4px;
  border-width: 1px;
  border: 1px solid #ca7960;
  width: 110px;
  transition-duration: 0.3s;
  background-color: light-dark(#ee987e, #8b4d3a);
  font-family: " Open Sans ", sans-serif;
  padding: 5px 5px 5px;
  cursor: pointer;
}

button:hover {
  background-color: light-dark(#c56d52, #57423c);
  box-shadow: 5px 5px 5px gray;
}


