#taskPaginationContainer {
  display: grid;
  row-gap: 20px;
}

#userContainer {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
}

#sortTaskContainer, #filterTaskContainer, #taskPerPageSelect, #userPageControls {
  display: flex;
  gap: 15px;
}
