form button {
  margin: 20px 0 0;
  justify-self: center;
}

form label {
  margin: 0;
  padding: 0;
  white-space: normal;
  overflow-wrap: anywhere;
}

form input {
  padding: 10px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  width: 75%;
}

form {
  display: grid;
  align-items: center;
  row-gap: 15px;
}

.formFields {
  display: grid;
}
