.hidden {
  display: none;
}
.modal {
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 20px auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal input {
  padding: 0.4rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9em;
}

.modal label {
  font-size: 0.9rem;
  margin: 0.4rem 0 0.2rem;
}
