#taskPaginationContainer,
#userContainer {
  display: grid;
  gap: 15px;
}

#userContainer {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 650px) {
  #userContainer {
    grid-template-columns: 1fr;
  }
}

#sortTaskContainer,
#filterTaskContainer {
  display: flex;
  gap: 15px;
}

#taskCommands,
#userCommands,
#taskPerPageSelect,
#userPageControls {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
