:root {
  color-scheme: light dark;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  color: light-dark(black, white);
  background-color: light-dark(#eee, rgb(97, 88, 88));
}
select {
  appearance: base-select;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
}

select::picker-icon {
  color: light-dark(#e69177, #8b4d3a);
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

option {
  border: 2px solid #ddd;
  background: #eee;
  padding: 10px;
  transition: 0.4s;
  font-family: "Open Sans", sans-serif;
}

option:nth-of-type(even) {
  background: light-dark(#e69177, #8b4d3a);
}

option:nth-of-type(odd) {
  background: light-dark(white, #5c5654);
}

button {
  border-radius: 4px;
  border-width: 1px;
  border: 1px solid #ca7960;
  width: 110px;
  transition-duration: 0.3s;
  background-color: light-dark(#ee987e, #8b4d3a);
  font-family: " Open Sans ", sans-serif;
  padding: 5px 5px 5px;
  cursor: pointer;
}

button:hover {
  background-color: light-dark(#c56d52, #57423c);
  box-shadow: 5px 5px 5px gray;
}

h2 {
  text-align: center;
}

p,
label,
h3,
span,
h1,
input,
h2 {
  font-family: "Open Sans", sans-serif;
  overflow: auto;
}
